@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

$main_font: 'Inter', sans-serif;
$second_font: 'Roboto', sans-serif;
$green: #009B3E;
$white: #FFFFFF;
$text_black: #1F1F1F;
$black: #000000;